#mainHeading
{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#select, #list, #results, #info, #tips, #bookHeader, #books
{
    background-color: rgb(208, 233, 238);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgb(90, 31, 31);
}

#textbox
{
    background-color: rgb(224, 236, 239);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgb(90, 31, 31);
}

.truncate-line-clamp 
{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    width: 250px;
    overflow: hidden;
}

ul li:hover
{
    background-color: rgb(205, 204, 204);
    
}
